#roleLv .list-cell{
    -fx-focus-traversable: false;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.date-time-picker {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

.date-time-picker .day-name-cell {
    -fx-padding: 10px;
}

#roleListView {
    -fx-alignment: center_left;
    -fx-selection-bar:white ;
    -fx-selection-bar-non-focused: white ;
    -fx-background-color: white;
    -fx-control-inner-background: white ;
}

#filterByRoleCom, #sortByCom, #searchByCom, #roleCom {
    -fx-text-fill: #f0f0f0;
    -fx-text-inner-color: #000;
    -fx-font-weight: bold;
    -fx-fill: #f0f0f0;
    -fx-alignment: center;
}

#roleLv.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 3;
}

.previewCancelButton {
    -fx-background-color: red;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-alignment: center;
    -fx-padding: 5 0 5 0;
    -fx-cursor: hand;
}

.previewsubmitButton {
    -fx-background-color: blue;
    -fx-border-radius: 3;
    -fx-background-radius: 30;
    -fx-alignment: center;
    -fx-padding: 5 0 5 0;
    -fx-cursor: hand;
}

.button {
    -fx-cursor: hand;
}

.menu.label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-background-color: red;
    -fx-border-color: red;
    -fx-padding: 1;
    -fx-text-fill: white;
}
.menu-item:focused .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.menu-item:focused {
    -fx-background-color: red;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-selection-bar-text;
}

#menu_listView-cell {
    -fx-alignment: center;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}


/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected {
    -fx-background-insets: 0;
    -fx-background-color: #58379A;
    -fx-text-fill: white;
}


.table-column {
    -fx-alignment: CENTER;
    -fx-wrap-text: true;
    -fx-table-cell-border-color: #a7a4a8;
}


.table-view .column-header, .table-view .filler {
    -fx-background-color: #d4d6d7;
    -fx-size: 35px;
    -fx-font-family: Arial;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-padding: 0.5em; /* 2px, plus border adds 1px */
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color -fx-table-cell-border-color transparent;
    -fx-alignment: center;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 100px; /* 24 */
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: 600;
    -fx-font-size: 13;
}

.table-row-cell {
    -fx-cell-size: 50px;
    -fx-alignment: center;
}
.table-view{
  -fx-background-color: white;
}